a {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    label {
        margin-bottom: 0px !important;
    }

    .chevron {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin-inline-start: calc(var(--pico-spacing, 1rem) * .5);
        float: right;
        transform: rotate(90deg);
        background-image: var(--pico-icon-chevron);
        background-position: right center;
        background-size: 1.5rem auto;
        background-repeat: no-repeat;
        content: "";
        transition: transform var(--pico-transition);
    }
}

.header {
    padding-top: 1.5rem;

    input {
        margin-bottom: 0px !important;
        margin-right: 1rem;
    }
}

.table {
    --pico-form-element-spacing-horizontal: 0.5rem;
    --pico-form-element-spacing-vertical: 0.5rem;
    font-size: 0.8rem !important;
    padding-top: 1.5rem;

    .actionCol {
        text-align: right;
    }

    button {
        font-size: 12pt !important;
    }
}