<h3>Receipt Printer</h3>

<form [formGroup]="form">
  <table class="striped">
    <thead>
      <tr>
        <th scope="col" class="w-40">Medicine</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">GST Rate</th>
        <th scope="col">GST</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody formArrayName="rows">
      @for (item of rows.controls; track $index; ; let i = $index) {
      <tr scope="row" [formGroupName]="i">
        <td>
          <select formControlName="medicine">
            @for(med of medicines(); track med) {
            <option [value]="med">{{ med }}</option>
            }
          </select>
        </td>
        <td><input type="number" formControlName="quantity" /></td>
        <td><input type="number" formControlName="price" /></td>
        <td><input type="number" formControlName="gstRate" /></td>
        <td><input type="number" formControlName="gst" /></td>
        <td><input type="number" formControlName="total" /></td>
      </tr>
      }

    </tbody>
  </table>

  <div class="form-buttons">
    <button type="button" class="outline" style="margin-right: 10px;" (click)="addRow()">Add Row</button>
    <button type="button" class="outline" (click)="removeLastRow()" [disabled]="rows.length <= 1">Remove Last Row</button>
  </div>

  <!-- <div>
    <button type="submit" class="secondary">Submit</button>
  </div> -->

</form>