<h3>Receipt Printer</h3>

<div class="route-link">
  <a routerLink="/medicine">View medicine</a>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <table class="striped">
    <thead>
      <tr>
        <th scope="col" class="w-40">Medicine</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">GST Rate</th>
        <th scope="col">GST</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody formArrayName="rows">
      @for (item of rows.controls; track $index; ; let i = $index) {
      <tr scope="row" [formGroupName]="i">
        <td>
          <select formControlName="medicine">
            @for(med of medicines(); track med.id) {
            <option [value]="med.name">{{ med.name }}</option>
            }
          </select>
        </td>
        <td><input type="number" formControlName="quantity" /></td>
        <td><input type="number" formControlName="price" /></td>
        <td><input type="number" formControlName="gstRate" /></td>
        <td><input type="number" formControlName="gst" /></td>
        <td><input type="number" formControlName="total" /></td>
      </tr>
      }

    </tbody>
  </table>

  <swal
    #confirmModal
    title="Print Receipt"
    text="Are you sure you want to print this receipt? Please check the total and discount."
    [showCancelButton]="true"
    [focusCancel]="true"
    (confirm)="printReceipt()"
    width="550"
    >
  </swal>


  @if (total() || discount()) {
    <article class="pb-3 pt-5">
      <label>Gross Total: {{ total().toFixed(2) }}</label>
      <label>Discount: {{ discount().toFixed(2) }}</label>
      <label>Net Total: {{ (total() - discount()).toFixed(2) }}</label>
    </article>
  }


  <div class="form-buttons">
    <button type="button" class="outline" style="margin-right: 10px;" (click)="addRow()"> + </button>
    <button type="button" class="outline" (click)="removeLastRow()" [disabled]="rows.length <= 1"> - </button>
  </div>

  <div class="form-footer">
    <button type="submit" style="width: 170px;" [disabled]="form.invalid">Print Devago</button>
  </div>

</form>


<!-- @if(printRequest() && printRequest().totalAmount > 0) {
  <app-html-image id="homeImg" [data]="printRequest()"></app-html-image>
} -->
