<div id="dataTable">
    <table style="width: 100%;">
        <thead>
            <tr>
                <th class="left" style="width: 46%;">Product Name</th>
                <th class="center" style="width: 9%;">Qty</th>
                <th class="center" style="width: 11%;">Price</th>
                <th class="center" style="width: 17%;">GST Rate</th>
                <th class="center" style="width: 15%;">GST</th>
                <th class="right" style="width: 20%;">Total</th>
            </tr>
        </thead>
        <tbody>
            @for (item of data().items; track item.productName) {
            <tr>
                <td class="left" style="width: 46%;">{{ item.productName }}</td>
                <td class="center" style="width: 9%;">{{ item.quantity }}</td>
                <td class="center" style="width: 11%;">{{ formatNumber(item.price) }}</td>
                <td class="center" style="width: 17%;">0</td>
                <td class="center" style="width: 15%;">0.00</td>
                <td class="right" style="width: 20%;">{{ formatNumber(item.totalAmount) }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>