#dataTable {
    width: 330px;
    
    table {
        thead {
            tr {
                border-top: 0.05rem solid #000;
                border-bottom: 0.05rem solid #000;

                th {
                    --pico-border-width: 0 !important;
                    font-size: 8pt !important;
                    padding: 2px !important;
                    border-bottom: 0px !important;
    
                    &.left {
                        text-align: left;
                    }
    
                    &.center {
                        text-align: center;
                    }
    
                    &.right {
                        text-align: right;
                    }
                }
            }
        }
    
        tbody {
            tr {
                border-bottom: 0.05rem solid #292828;
                
                td {
                    --pico-border-width: 0 !important;
                    font-size: 8pt !important;
                    padding: 2px !important;
                    border-bottom: 0px !important;
    
                    &.left {
                        text-align: left;
                    }
    
                    &.center {
                        text-align: center;
                    }
    
                    &.right {
                        text-align: right;
                    }
                }
            }
        }
    }
}
